
.ServiceListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ServiceListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
   color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}
.btn1{
  color: #ffffff;
  background:#870000;
  margin-bottom: 0.5vmax;
  width: 10vmax;
  align-items: center;
  height: 4vmax;
  border-radius: 2vmax;
  margin-left: 1vmax;
}
.ServiceListTable {
  background-color: white;
  border: none !important;
}

.ServiceListTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none !important;
}

.ServiceListTable a,
.ServiceListTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.ServiceListTable a:hover {
  color: #008710;
}

.ServiceListTable button:hover {
  color: #008710;
}

.MuiDataGrid-columnHeader div {
  color: #ffffff;
  size: 3vmax;
}

@media screen and (max-width: 600px) {
  .dashboard{
    flex-direction: column;
  }
    
  .ServiceListTable div {
    font: 300 4vw "Roboto";
    display: flex;
  
     }
}
